{
	"useTabs": true,
	"arrowParens": "avoid",
	"printWidth": 120,
	"semi": false,
	"trailingComma": "all",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindStylesheet": "./src/routes/layout.css"
}
