RewriteEngine on
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

<IfModule mod_headers.c>
	Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
</IfModule>

RedirectMatch 301 "^/next/(.*)$" "/$1"

AddEncoding gzip .gz
AddEncoding br .br

RewriteCond %{HTTP:Accept-Encoding} br
RewriteCond %{REQUEST_FILENAME}\.br -s
RewriteRule ^(.*)\.js %{REQUEST_URI}\.br [QSA,L,T=application/javascript]

RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME}\.gz -s
RewriteRule ^(.*)\.js %{REQUEST_URI}\.gz [QSA,L,T=application/javascript]

# Cause gzip is a bitch
<Files "*.gz">
	ForceType text/javascript
</Files>