@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	overflow: hidden;
}

body {
	scrollbar-width: thin;
	scrollbar-color: theme("colors.orange.500") white;
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
	overflow-y: auto;
	max-height: 100dvh;
}
.dark body {
	scrollbar-color: theme("colors.amber.600") theme("colors.stone.900");
}
